/* Coolors Exported Palette - coolors.co/a31621-fcf7f8-ced3dc-4e8098-90c2e7 */

/* HSL */
$color1: hsla(355%, 76%, 36%, 1);
$color2: hsla(348%, 45%, 98%, 1);
$color3: hsla(219%, 17%, 84%, 1);
$color4: hsla(199%, 32%, 45%, 1);
$color5: hsla(206%, 64%, 74%, 1);

/* RGB */
$color1: rgba(163, 22, 33, 1);
$color2: rgba(252, 247, 248, 1);
$color3: rgba(206, 211, 220, 1);
$color4: rgba(78, 128, 152, 1);
$color5: rgba(144, 194, 231, 1);

$color1-light: rgba(229, 191, 194, 1);
$color2-light: rgba(254, 252, 253, 1);
$color3-light: rgba(241, 243, 245, 1);
$color4-light: rgba(206, 220, 226, 1);
$color5-light: rgba(224, 238, 248, 1);

$color1-dark: rgba(45, 6, 9, 1);
$color2-dark: rgba(69, 68, 68, 1);
$color3-dark: rgba(57, 58, 60, 1);
$color4-dark: rgba(22, 35, 42, 1);
$color5-dark: rgba(40, 53, 63, 1);

$text: $color4-dark;

html, body, #app, .app {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $color3-light;
  font-family: "Helvetica Neue", "Open Sans", "Sans";
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: grid;
  grid-template-rows: 2.5rem 3rem auto 3rem;
  width: 600px;
  height: 600px;
  border: .5px solid $color3;
  border-radius: 2px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.appHeader {
  font-size: 16px;
  font-weight: 300;
  text-align: right;
  color: $color5-dark;
  padding: 0 1rem 1rem 1rem;
  line-height: 1.2rem;
}

.promptContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 2rem;
  color: $text;
  background-color: $color4-light;
  width: 100%;
  height: 100%;
  &::first-letter {
    text-transform: capitalize;
  }
}

.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2rem;
  font-family: "Helvetica Neue", "Open Sans", "Sans";
  font-size: 14px;
  &.clearButton {
    color: $color1;
    &:hover {
      background-color: rgba($color1, .2);
    }
  }
  &.timeTravel {
    &.isActive {
      border: 2px solid $color4;
    }
    &:hover, &.isActive {
      background-color: rgba($color4, .2);
    }
  }
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(3, 33%);
  grid-template-columns: repeat(3, 33%);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  background-color: $color3;
  justify-content: space-between;
}

.square {
  background-color: $color2-light;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  &.xValue .value {
    color: $color4;
  }
  &.oValue .value {
    color: $color1;
  }
  &:hover {
    background-color: lighten($color3-light, 5%);
    &.isTurnX:not(.xValue):not(.oValue):not(.gameover) {
      background-color: $color4-light;
    }
    &.isTurnX:not(.xValue):not(.oValue):not(.gameover) .value::before {
      content: '🍗';
      color: rgba($color4, .5);
    }
    &.isTurnO:not(.xValue):not(.oValue):not(.gameover) {
      background-color: $color1-light;
    }
    &.isTurnO:not(.xValue):not(.oValue):not(.gameover) .value::before {
      content: '🍞';
      color: rgba($color1, .5);
    }
  }
}